registry=https://npm.wolterskluwer.io/registry/34123d1abfd7f9307d25435814dbf433b9d98cc7b7b9
fetch-retries=10
progress=false
@wk:registry=https://registry.npme.wolterskluwer.io/
@wk-app:registry=https://registry.npme.wolterskluwer.io/
@wk-test:registry=https://registry.npme.wolterskluwer.io/
//registry.npme.wolterskluwer.io/:_authToken=c79d14258cf752a1f02b97566f3742b3cfd707e7d13cd3736065de37ab2eb8e8
